/BancoDigital_01/nbproject/private/
/BancoDigital_02/nbproject/private/
/BancoDigital_02/build/
/BancoDigital_05/target/
/Cenaflix/target/
/BancoDigital_01/build/
/BancoDigital_01/dist/
/Cenaflix/bin/target/
/CenaflixPoscast/target/
/Podcast/target/
